<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="head">
    <div class="container-fluid"  align="left">
        <div class="col-xs-10">
        <img src="http://logo-all.ru/uploads/posts/2016-04/0_stack_overflow_logo.jpg"  width="200" height="50">
        </div>
        {% if request.user.id != none %}
            <div class="name">
            <div class="col-xs-1"  align="right">{{request.user}}</div>
                </div>

            <div class="col-xs-1" align="right"><a  class="btn btn-default" href="{% url 'logout' %}">logout</a></div>
        {% else %}
        <div class="col-xs-3" ></div>
        <div class="col-xs-3" align="right"><a  class="btn btn-default" href="{% url 'login' %}">login</a></div>
    {% endif %}

    </div>
        </div>
</body>
</html>